@{
    ViewData["Title"] = "Contacts";
}

<div>
    <h3 style="text-align: center;">For bulk purchases contact us</h3>
    <br />
    Email: <a href="mailto:nikitabushhan@gmail.com">nikitabushhan@@gmail.com</a> <br />
    Phone: <a href="tel:0638387559">063 838 75 59</a>
</div>